@model IEnumerable<SKYResturant.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="breadcrumbs pt-5 mt-15">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Admin</h2>
            <ol>
                <li><a >Order History</a></li>

            </ol>
        </div>

    </div>
</section>
<table class="table">
    <thead>
        <tr>
            <th>Food Name</th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodItem.Name)
                </td>
            <td>
                    
                @Html.DisplayFor(modelItem => item.OrderItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
